**/old/**
*.7z
*.csv
*.ini
*.json
*.log
*.log_2
*.pyc
*.rar
*.sql
*.tmp.py
*.txt
*.zip
*/.gitx/**
*/__pycache__/**
*/back/**
*/pywikibot.py
.pylintrc
databasebackup/**
df.py
imp.sh
import.py
import_xml.py
md_core-x/**
md_core/mdpy/sql_test.py
md_core/mdpy/x.py
md_core/one_time/WHOem/priorviews/**
md_core/one_time/prior/.pylintrc
md_core/one_time/prior/en_old.py
md_core/one_time/prior/test.py
md_core/one_time/prior/test1.py
md_core/tw/twet_config.py
printe.py
tw/twet_config.py
w.xml
*.json1
mass/radiox/**
ncc_core/nc_import/long_bots.py
/md_core/newapix
/mass/eyerounds/htmls
/fix_mass/fix_sets/studies_done
