
**/old/**
*.7z
*.csv
*.ini
*.json
*.json1
*.log
*.log_2
*.pyc
*.rar
*.sql
*.sqlite
*.tmp.py
*.txt
*.zip
*/.gitx/**
*/__pycache__/**
*/back/**
*/pywikibot.py
.pylintrc
/fix_mass/fix_sets/has_url
/fix_mass/fix_sets/studies_done
/infos
/mass/eyerounds/htmls
/md_core/newapix
/tutorial
copy_to_en/x.py
databasebackup/**
df.py
imp.sh
import.py
import_xml.py
mass/radiox/**
mass/usaid/.env
md_core-x/**
md_core/mdpages/findqids.sh
md_core/mdpy/sql_test.py
md_core/mdpy/x.py
md_core_helps/one_time/WHOem/priorviews/**
md_core_helps/one_time/prior/.pylintrc
md_core_helps/one_time/prior/en_old.py
md_core_helps/one_time/prior/test.py
md_core_helps/one_time/prior/test1.py
md_core_helps/tw/twet_configs.py
copy_to_en/medwiki_account.py
copy_to_en/bots/medwiki_account.py
wprefs/todb.py
md_core/update_med_views/xx.py
!/z/*.csv
!/z/*/*.json
z/jsons/pages.json
/svg/*.svg
/svg/**/*.svg
/svg/*.md
/svg/**/*.md
/apicache
throttle.ctrl
scan.py
